body {
    width: 100%;
    background-color: bisque;
}

header {
    text-align: center;
}

h1 {
    font-size: 50px;
    text-align: center;
}

article {
    text-indent: 5em;
    font-family: 'Courier New', Courier, monospace;
    font-size: 20px;
}

section {
    display: inline-block;
    width: 100%;
}

img {
    border: 2px green solid;
    float: left;
    width: 20%;
    margin: 5%;
}

footer {
    text-align: center;
}