body {
    width: 100%;
    background-color: aquamarine;
}

header {
    text-align: center;
}

section {
    width: 50%;
    border: 2px red solid;
}

img {
    float: left;
    width: 20%;
    margin: 5%;
}
